.glow-hover {
  transition: box-shadow 0.3s ease-in-out;
}

.glow-hover-red:hover {
  box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
}

.glow-hover-yellow:hover {
  box-shadow: 0 0 5px 2px rgba(255, 255, 0, 0.5);
}

.glow-hover-green:hover {
  box-shadow: 0 0 5px 2px rgba(0, 255, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  .glow-hover-red:hover {
    box-shadow: 0 0 8px 3px rgba(255, 0, 0, 0.7);
  }

  .glow-hover-yellow:hover {
    box-shadow: 0 0 8px 3px rgba(255, 255, 0, 0.7);
  }

  .glow-hover-green:hover {
    box-shadow: 0 0 8px 3px rgba(0, 255, 0, 0.7);
  }
}

.table-container {
  max-width: 60%;
  margin: 0 auto;
  padding: 0 40px;
}
